
{% extends 'base.html' %}

{% block right_content %}
    <div>
        <h3>DNS Requests of CDN</h3>
        <p>List of all DNS Requests and their details.</p>        
        <h1>Managed DNS Records</h1>
    
        <table class="data-table">
        <thead>
            <tr>
                <th>Domain Name</th>
                <th>Registrar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in mymembers %}
                <tr>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>
                        <a href="{% url 'edit_item' item.firstName %}" class="action-button">Modify</a>
                        <a href="{% url 'delete_item' item.firstName %}" class="action-button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}